# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

H0: There is no much difference between means of two samples

H1: There is a difference between means of two samples

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
cutlets=pd.read_csv("Cutlets.csv")

In [3]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
cutlets.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [6]:
cutlets.dtypes

Unit A    float64
Unit B    float64
dtype: object

In [7]:
unit_A=cutlets['Unit A']
unit_A.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [8]:
unit_B=cutlets['Unit B']
unit_B.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [9]:
unit_A.count()

35

In [10]:
unit_B.count()

35

As the problem statement is comparision of two sample means, we go with two sample two tailed t-test

In [14]:
p_value=stats.ttest_ind(unit_A, unit_B)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [15]:
p_value[1]

0.4722394724599501

In [ ]:
# compare p_value with Î± = 0.05 (At 5% significance level)
# Accept the null hypothesis